.rating-display {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating-display > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating-display > span:hover:before,
.rating-display > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

/* .rating-display span.active:before,
.rating-display span.active ~ span:before {
    color: blue;
} */